<div class="bar">
    <div class="swap"></div>
    <div class="swap__window">
        Shortcuts<br>swap (X)
    </div>
    <ul class="bar__list">
        <li class="bar__list-item">
            <input type="color" class="hide" value="#c4c4c4" id="primary-color">
            <label for="primary-color">
                <span class="bar__text" id="primary-color-bg"></span> <span class="bar__name">Primary color</span>
            </label>
        </li>
        <li class="bar__list-item">
            <input type="color" class="hide" value="#41F795" id="second-color">
            <label for="second-color">
                <span class="bar__text" id="second-color-bg"></span><span class="bar__name">Second color</span>
            </label>
        </li>
    </ul>
</div>