<div class="preview">
    <div class="full-screen">
        <img src="../../assets/images/full-screen.png" class="full-screen-btn" alt="full-screen">
    </div>
    <div class="preview__item">
    </div>
    <div class="fps-wrapper">
        <span id="display-fps" class="display-fps">0 FPS</span>
        <input id="preview-fps" class="range-fps" type="range" value="0" min="0" max="24">
    </div>
</div>
<div class="preview-btn__wrapper">
    <div class="preview__window">
        Save to APNG (U)
    </div>
    <div class="btn-load preview__btn" id="export-apng">Save to APNG</div>
</div>
<div class="preview-btn__wrapper">
    <div class="preview__window">
        Save to GIF (G)
    </div>
    <div class="btn-load preview__btn" id="export-gif">Save to GIF</div>
</div>