<div class="frame-wrapper">
    <div class="frame frame-active">
        <div class="number-wrapper">1</div>
        <div class="img-wrapper-delete">
            <div class="delete__window">
                delete (D)
            </div>
            <img src="../../assets/images/delete.png" class="delete" alt="delete">
        </div>
        <div class="img-wrapper-copy">
            <div class="delete__window">
                copy (Y)
            </div>
            <img src="../../assets/images/copy.png" class="copy" alt="copy">
        </div>
        <div class="frame__item">
            <canvas class="frame-canvas" id="frame-canvas0" width="96" height="96" draggable="true" ondragstart="event.dataTransfer.setData('text/plain',null)"></canvas>
        </div>
    </div>
</div>
<div class="add-frame">
    <div class="delete__window">
        add frame (T)
    </div>
    <span class="add-frame__text">Add new frame</span>
</div>