<div class="bar">
    <ul class="bar__list" id="tools">
        <li class="bar__list-item" id="bucket">
            <div class="bar__window">
                Shortcuts<br>bucket (B)
            </div>
            <img src="../../assets/images/bucket.svg" alt="bucket">
            <span class="bar__name">Paint bucket</span>
        </li>
        <li class="bar__list-item" id="paint-all">
            <div class="bar__window">
                Shortcuts<br>paint all (A)
            </div>
            <img src="../../assets/images/bucket-all.svg" alt="paint-all">
            <span class="bar__name">Paint all px</span>
        </li>
        <li class="bar__list-item" id="color">
            <div class="bar__window">
                Shortcuts<br>color picker (C)
            </div>
            <img src="../../assets/images/colore.svg" alt="color">
            <span class="bar__name">Color picker</span>
        </li>
        <li class="bar__list-item" id="pencil">
            <div class="bar__window">
                Shortcuts<br>pencil (P)
            </div>
            <img src="../../assets/images/pencil.svg" alt="pencil">
            <span class="bar__name">Pencil</span>
        </li>
        <li class="bar__list-item" id="eraser">
            <div class="bar__window">
                Shortcuts<br>eraser (E)
            </div>
            <img src="../../assets/images/eraser2.svg" alt="Eraser">
            <span class="bar__name">Eraser</span>
        </li>
        <li class="bar__list-item" id="stroke">
            <div class="bar__window">
                Shortcuts<br>stroke (S)
            </div>
            <img src="../../assets/images/stroke-tools.svg" alt="Stroke">
            <span class="bar__name">Stroke</span>
        </li>
    </ul>
</div>